<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper" th:fragment="sidebar">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON --> 
            <li class="nav-item start active open">
                <a th:href="@{/user/dashboard}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>                          
            <li class="nav-item start active open">
                <a th:href="@{/user/dashboard}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Purchases</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">                                    
                    <li class="nav-item start ">
                        <a th:href="@{/expenses/list}" class="nav-link ">
                            <span class="title">Expenses</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a th:href="@{/suppliers/list}" class="nav-link ">
                            <span class="title">Vendors/Suppliers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start active open">
                <a th:href="@{/user/dashboard}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Sales</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu"> 
                    <li class="nav-item start ">
                        <a th:href="@{/incomes/list}" class="nav-link ">
                            <span class="title">Sale Transactions</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a th:href="@{/incomes/list}" class="nav-link ">
                            <span class="title">Invoices</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a th:href="@{/customers/list}" class="nav-link ">
                            <span class="title">Customers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Features</h3>
            </li>
            <li class="nav-item    active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Farm Details</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item   active open">
                        <a th:href="@{/financials/projects}" class="nav-link ">
                            <span class="title">My Farm Projects</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a th:href="@{/financials/farms}" class="nav-link ">
                            <span class="title">My Farms</span>
                        </a>
                    </li>                                    
                </ul>
            </li>
            <li class="nav-item start active open">
                <a th:href="@{/user/dashboard}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Financials</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a th:href="@{/financials/incomeandexpense}" class="nav-link ">
                            <span class="title">Income-Expense Statement</span>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a th:href="@{/financials/chartofaccounts}" class="nav-link ">
                            <span class="title">Chart of Accounts</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->